.puzzle-body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container{
  width:1100px;
  margin-left: 70px;
  display: flex;
  justify-content:space-around;
}
.container-1270px{
  width:1270px;
  margin: 30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #363078;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  //text-shadow: 0 0 5px #FF0, 0 0 5px #ff0;
  text-shadow: 1px 1px #fff, 0px 0px #000;
  span{
    color: #f00;
  }
}
.container-top{
  width:1170px;
  display: flex;
  justify-content:space-evenly;
  margin: 2px 0 20px;
  .im{
    width: 130px;
    height: 50px;
    border-bottom:4px double #003C9D;
   // background-color:#003C9D;
    color:#000;
    //border-radius:10px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    position: relative;
    left: 90px;
  }
}

button{
  width: 150px;
  height: 50px;
  border:0;
  background-color:#003C9D;
  color:#fff;
  border-radius:10px;
  cursor:pointer; // 改變滑鼠游標的形狀 
  font-size: 17px;
  font-family: Microsoft JhengHei;
  position: relative;
  right: 20px;
  span{
    color:rgb(224, 39, 39);
  }
}

button:hover{
  color:#003C9D;
  background-color:#fff;
  border:2px #003C9D solid;
}
.outer {
  width: 500px;
  height: 500px;
 // border: 1px solid #000;
  position: relative;
  background: #fff;
  
  .inside {
    width: 122px;
    height: 122px;
    overflow: hidden;
    position: absolute;
  }
  img {
    width: 500px;
    height: 500px;
    position: absolute;
  }
}

// ========= memoryCard ========
.cardBack{
  width: 150px;
  height: 200px;
}
.cards{
  margin: 0 auto;
  .cardBack{
    margin: 10px 20px;
  }
}

.cardfont { // 牌的基本架構
  width: 150px;
  height: 200px;
  margin: 10px 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.cardclose { // 卡背的狀態
  background-image: url(/img/picture0.png);
}

.cardopen { // 翻牌時的狀態
  //background-image: url(/img/picture1.png);
}
