.puzzle-body {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.container {
  width: 1100px;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-1270px {
  width: 1270px;
  margin: 30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #363078;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  text-shadow: 1px 1px #fff, 0px 0px #000;
}

.container-1270px span {
  color: #f00;
}

.container-top {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2px 0 20px;
}

.container-top .im {
  width: 130px;
  height: 50px;
  border-bottom: 4px double #003C9D;
  color: #000;
  font-size: 20px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  position: relative;
  left: 90px;
}

button {
  width: 150px;
  height: 50px;
  border: 0;
  background-color: #003C9D;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-family: Microsoft JhengHei;
  position: relative;
  right: 20px;
}

button span {
  color: #e02727;
}

button:hover {
  color: #003C9D;
  background-color: #fff;
  border: 2px #003C9D solid;
}

.outer {
  width: 500px;
  height: 500px;
  position: relative;
  background: #fff;
}

.outer .inside {
  width: 122px;
  height: 122px;
  overflow: hidden;
  position: absolute;
}

.outer img {
  width: 500px;
  height: 500px;
  position: absolute;
}

.bodyclass {
  background: #fff8c4;
  background: radial-gradient(circle, #fff8c4 77%, #ffe79e 95%);
}

#memoryCard {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardBack {
  width: 150px;
  height: 180px;
}

.cards {
  margin: 0 auto;
}

.cards .cardBack {
  margin: 5px 10px;
}

.cardfont {
  width: 150px;
  height: 180px;
  margin: 5px 20px;
  background-size: 93%;
  background-repeat: no-repeat;
}

.cardclose {
  background-image: url(/img/picture0.png);
}

.End {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  color: rgba(255, 255, 83, 0.6);
  font-weight: bold;
  text-shadow: 0 0 0.5em #9c0f0f, 0 0 0.5em #9c0f0f;
  z-index: 1;
}

canvas {
  z-index: 0;
}

body {
  font-family: 'Kalam', cursive;
}

.button-again {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 0.3em #aaa;
  width: 200px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  z-index: 1;
  border: 0;
  background-color: transparent;
  font-family: 'Kalam', cursive;
  font-size: 36px;
}

.button-again:hover {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: rgba(255, 255, 255, 0.6) 1px dotted;
}
/*# sourceMappingURL=sheets.css.map */